
@use './mediaQuery.scss' as m;

//--- Custom CSS Reset ---
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflox-x: hidden;
}

img,
svg {
  max-width: 100%;
  display: block;
}

//--- Font ---
$ff_primary: 'Poppins', sans-serif;
$ff_body: $ff_primary;
$ff_heading: $ff_primary;

//--- Font Weight ---
$fw_reg: 400;
$fw_semi: 500;
$fw_bold: 700;

//--- Font Size ---
$fs_300: .8125rem;
$fs_400: .875rem;
$fs_450: 1.25rem;
$fs_500: 1.5625rem;
$fs_600: 1.875rem;
$fs_700: 2.1875rem;
$fs_800: 2.5rem;

//--- Colors ---
$light_gray: #EDEDED;
$mid_gray: #666666;
$silver: #BABABA;

//--- Mobile ---
@include m.breakpoint(medium) {
  //--- Global ---
  body,
  .navClose,
  .navOpen {
    background: $silver;
  }

  body,
  .projLink,
  a {
    color: $light_gray;
  }

  .menu,
  .close,
  .navClose,
  .navOpen {
    position: absolute;
  }

  .menu,
  .close,
  .navClose,
  .navOpen,
  .header,
  .section,
  .footer,
  .projGif {
    display: flex;
  }

  .navClose,
  .navOpen,
  .header,
  .section,
  .footer,
  .projGif {
    justify-content: center;
  }

  .menu,
  .close,
  .navClose,
  .navOpen,
  .header,
  .section,
  .footer {
    flex-direction: column;
  }

  .navClose,
  .navOpen,
  .header,
  .section,
  .footer {
    height: 100vh;
    padding-left: 1rem;
  }

  .bar,
  .navClose,
  .navOpen {
    transition: all 0.5s ease-in-out;
  }

  .projLink,
  .footer {
    background: $mid_gray;
  }

  .projLink,
  a {
    text-decoration: none;
  }

  //--- Main ---
  body {
    font-family: $ff_primary;
    z-index: 0;
    width: 100vw;
  }

  //--- Hamburger Menu ---
  //--- Menu ---
  .menu,
  .close {
    height: 1.5rem;
    padding: 1rem 0 1rem 1rem;
    z-index: 2;

    .bar {
      background: white;
      color: white;
      width: 2rem;
      height: .3rem;
    }

    .top {
      margin-bottom: .3rem;
    }

    .bot {
      margin-top: .3rem;
    }
  }

  //--- Close Button ---
  .close {

    .top {
      transform: translateY(10px);
    }

    .mid {
      opacity: 0;
    }

    .bot {
      transform: translateY(-10px);
    }
  }
  
  //--- Navigation ---
  .navClose,
  .navOpen {
    width: 96%;
    z-index: 1;
  }
  .navClose {
    transform: translateX(-100%);
    opacity: 0;
  }

  //--- Header ---
  .header {
    h1 {
      font-size: $fs_600;
    }
  }

  //--- Section ---
  .section {
    padding: 17.5% 0 0 0;
    justify-content: flex-start;

    .projGif {
      align-items: center;
      height: 45vh;
      width: 100%;
      margin-bottom: 1rem;
    }

    .projTitle,
    .projLink,
    .projDesc {
      padding: 0.5rem;
    }

    .projTitle {
      padding: 1rem 0.5rem 0 0.5rem;
    }

    .projLink {
      border: 1px solid $mid_gray;
    }
  }

  //--- Footer ---
  .footer {
    align-items: flex-start;
    .email {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 70%;

      .emailImg {
        padding-right: 1rem;
        width: 2.5rem;
        filter: invert(99%) sepia(0%) saturate(1319%) hue-rotate(116deg) brightness(115%) contrast(86%);
      }

    }
  }

}

@include m.breakpoint(large) {

  //--- Global ---
  p,
  a {
    font-size: $fs_450;
  }

  //--- Menu ---
  .menu,
  .close {
    display: none;
  }

  //--- Navigation ---
  .navClose,
  .navOpen {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 0.5rem;
    height: 10vh;
    width: 97.8vw;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    //border: 1px solid black;
  }

  //--- Header ---
  .header {
    h1 {
      font-size: $fs_800;
    }

  }

  //--- Section ---
  .section {
    flex-flow: row wrap;
    justify-content: center;

    .projDisplay {
      width: 50vw;
      padding: 0 1rem;
    }
  }


}
